@import 'variables.css';
@import 'radix-themes.css';

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  min-width: 0;
}

::-webkit-scrollbar {
  width: 0.85em;
}

::-webkit-scrollbar-track {
  background: var(--zinc-100);
}

::-webkit-scrollbar-thumb {
  background: var(--violet-300);
  border-radius: 2.2em;
}

body {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: var(--font-montserrat);
}

button,
.rt-BaseButton {
  cursor: pointer;
  font-family: var(--font-montserrat);
}

.wrapper {
  max-width: 72em;
  margin-inline: auto;
  padding: 2.5em 1.5em;
}

.title {
  font-family: var(--font-montserrat);
  font-weight: 600;
  font-size: 1.75em;
  color: var(--violet-300);
}

.loader-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35em;
}