@import '@radix-ui/colors/violet.css';

.navbar {
  background-color: var(--violet-3);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-inline: 0.75em;
  border-radius: 0.65em;
  box-shadow: var(--shadow-shape);
}