@import '@radix-ui/colors/black-alpha.css';
@import '@radix-ui/colors/green.css';
@import '@radix-ui/colors/mauve.css';
@import '@radix-ui/colors/violet.css';

/* reset */
button,
fieldset,
input {
  all: unset;
}

.auth-wrapper {
  display: grid;
  grid-template-columns: 1150px 3fr;
  grid-template-areas: 'banner form';
  grid-template-rows: 1fr;
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(
      45deg,
      rgba(0, 0, 0, 0.8),
      rgba(109, 40, 217, 0.5)
    ),
    url('../../../public/background-auth.svg');
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
}

.auth-banner {
  grid-area: banner;
}

.auth-form {
  grid-area: form;
  width: 100%;
  place-self: center;
}

.auth-form .tabs-root {
  display: flex;
  flex-direction: column;
  width: 25em;
  box-shadow: var(--shadow-shape);
  background-color: var(--violet-5);
  border-radius: 1em;
}

.auth-form .tabs-root > .rt-TabsRoot .rt-TabsList {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
}

.auth-form .tabs-root > .rt-TabsRoot .rt-TabsList > button.rt-TabsTrigger {
  cursor: pointer;
  flex: 1;
}

.auth-form
  .tabs-root
  > .rt-TabsRoot
  .rt-TabsList
  > button.rt-TabsTrigger
  .rt-TabsTriggerInner {
  font-family: var(--font-montserrat);
  font-size: 1.2em;
  color: var(--zinc-100);
  background-color: transparent;
}

.auth-form
  .tabs-root
  > .rt-TabsRoot
  .rt-TabsList
  button.rt-TabsTrigger.rt-BaseTabListTrigger:where(
    [data-state='active'],
    [data-active]
  ) {
  flex: 1;
  background: var(--violet-6);
}

.auth-form
  .tabs-root
  > .rt-TabsRoot
  .rt-TabsList
  button.rt-TabsTrigger.rt-BaseTabListTrigger:where(
    [data-state='active'],
    [data-active]
  )
  .rt-TabsTriggerInner {
  color: var(--violet-11);
  font-weight: 600;
}

.auth-form .tabs-content {
  flex-grow: 1;
  padding: 0.9em;
  outline: none;
  background-color: var(--violet-5);
  border-bottom-left-radius: 1em;
  border-bottom-right-radius: 1em;
}

.auth-form .tabs-content form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.8em;
}

.auth-form .tabs-content form > .rt-Button {
  width: 100%;
  text-transform: uppercase;
  letter-spacing: 1.2px;
}

.auth-form .tabs-content form .rt-CalloutRoot {
  width: 100%;
}

.auth-form .tabs-content .tabs-actions {
  padding: 0.9em;
  display: flex;
  justify-content: center;
  gap: 0.5em;
}

.auth-form .tabs-content .tabs-actions .tabs-actions--separator {
  background-color: var(--zinc-500);
  width: 1px;
  height: 1.5em;
}

.auth-form .tabs-content .tabs-actions a {
  text-decoration: none;
  color: var(--violet-11);
  transition: 0.2s ease-in;
}

.auth-form .tabs-content .tabs-actions a:hover {
  color: var(--zinc-300);
}

@media (max-width: 900px) {
  .auth-wrapper {
    min-height: 100dvh;
    grid-template-columns: 1fr;
    grid-template-areas: 'form';
    align-items: center;
  }

  .auth-banner {
    display: none;
  }

  .auth-form {
    grid-area: form;
    place-self: initial;
    justify-self: center;
    height: fit-content;
    width: 70%;
  }

  .auth-form .tabs-root {
    width: 100%;
  }
}
