.events__container {
  padding-inline: 0.85em;
}

.events__container .events__header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-block: 1em;
}

.events__container .events__header .events__header-action {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.35em;
}

.events__container .events__header .events__header-action .fieldset.events__input-search .fieldset--control {
  height: 2em;
  padding: 1.2em 0.5em;
}

.events__container .events__wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.events__container .events__loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 15em;
}