div.container {
  padding-inline: 0.85em;
}

div.container header.header-events {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-block: 1em;
}

div.container header.header-events div.header-action {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.35em;
}

.event-wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}