.event-info__container {
  padding-inline: 2em;
}

.event-info__wrapper {
  display: grid;
  grid-template-columns: 650px 1fr;
  grid-template-areas: 'content details';
  grid-column-gap: 0.5em;
  margin-top: 3em;
}

.event-info__content {
  grid-area: content;
}

.event-info__banner > img {
  object-fit: cover;
  border-radius: 0.75em;
  box-shadow: var(--shadow-shape);
}

.event-info__wrapper-information-content {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  gap: 0.3em;
}

.event-info__wrapper-information-content > span {
  font-weight: 600;
  font-size: 1.25em;
  color: var(--violet-200);
}

.event-info__wrapper-information-content > h3 {
  font-weight: 400;
  font-size: 1.65em;
  color: var(--violet-800);
}

.event-info__details {
  grid-area: details;
}

.event-info__details-wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.event-info__details-header {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.5em;
}

.event-info__details-title {
  font-weight: 500;
  font-size: 1.75em;
  color: var(--violet-200);
  text-align: center;
}

.event-info__separator {
  width: 100%;
  height: 1px;
  background-color: var(--violet-3);
  max-width: 180px;
  margin: 0 auto;
}

@media (max-width: 900px) {
  .event-info__wrapper {
    grid-template-columns: 1fr;
    grid-template-areas:
      'content'
      'details';
    gap: 1em;
    margin-top: 3em;
  }

  .event-info__content {
    grid-area: content;
    place-self: center;
  }

  .event-info__wrapper-information {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
