.form-wrapper {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 100%;
  width: 100%;
  background: var(--violet-100);
}

.form-wrapper>.form-banner {
  grid-column: span 1;
}

.form-wrapper>.form {
  grid-column: span 1;
  place-self: center;
  width: 30%;
}

.form-wrapper>.form>.ui.tabular.menu {
  align-items: center;
  justify-content: center;
  font-family: var(--font-montserrat);
  font-weight: 600;
  font-size: 1.1em;
  border: none;
}

.form-wrapper>.form>.ui.tabular.menu .active.item {
  background: var(--violet-200);
  color: var(--violet-900);
  font-family: var(--font-montserrat);
  font-weight: 700;
  letter-spacing: 1.1px;
  border: 1px solid var(--violet-950);
  border-radius: 50em !important;
}

.form-wrapper>.form>main.ui.container {
  animation: allContent 2s;
}

@keyframes allContent {
  0% {
    opacity: 0;
    transform: translate(-20px, 0px);
  }

  100% {
    opacity: 1;
    transform: translate(0px, 0px);
  }
}