form {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

form>section.input-date-hour {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 0.65em;
}

form>section.input-date-hour .date {
  flex: 1;
}

form>section.input-date-hour .hour {
  flex: 0.6;
}

form input[type="file"] {
  cursor: pointer;
}

.rt-BaseDialogContent h1 {
  font-family: var(--font-montserrat);
  font-size: 1.45em;
  font-weight: 500;
}

.rt-BaseDialogContent p {
  font-family: var(--font-montserrat);
  font-size: 1.25em;
  font-weight: 400;
  color: var(--zinc-500);
}