@import '@radix-ui/colors/violet.css';

/* reset */
fieldset,
input {
  all: unset;
}

.fieldset {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.fieldset span {
  display: inline-block;
  margin-top: 0.35em;
  color: var(--red-500);
  font-size: 1.1em;
  font-family: var(--font-montserrat);
  padding-left: 0.2rem;
}

.fieldset .form-control {
  display: flex;
  align-items: center;
  gap: 0.7rem;
  flex: 1 0 auto;
  background-color: var(--violet-2);
  padding: 0.5rem 1rem;
  border-radius: 0.75rem;
}

.input {
  background-color: transparent;
  outline: none;
  border: none;
  font-size: 1.25em;
  flex: 1;
}

.input::placeholder {
  color: var(--zinc-400);
  font-size: 1.1em;
  font-family: var(--font-montserrat);
}