.home-event__container {
  padding-inline: 0.85em;
}

.home-event__header {
  margin-block: 1em;
}

.home-event__content {
  display: grid;
  grid-template-columns: 650px 1fr;
  grid-template-areas: 'event-post event-aside';
  gap: 1.5em;
}

.home-event__list {
  grid-area: event-post;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.home-event__list-info {
  grid-area: event-aside;
  padding-inline: 0.25em;
}

.home-event__list-info-title {
  font-weight: 300;
  font-size: 1.175em;
  text-align: center;
  color: var(--violet-200);
}

.home-event__list-info-separator-wrapper {
  padding-inline: 8em;
  margin-bottom: 1em;
}

.home-event__list-info-separator {
  width: 100%;
  height: 1px;
  background-color: var(--violet-3);
}

.home-event__list-info-public {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home-event__list-info-public li.home-event__list-info-public-item {
  text-align: center;
  padding: 0.1em;
  flex: 1;
  display: flex;
  flex-direction: column;
}

@media (max-width: 980px) {
  .home-event__content {
    grid-template-columns: 1fr;
    grid-template-areas: 'event-post';
    align-items: center;
  }

  .home-event__list-info {
    grid-area: event-aside;
    display: none;
  }

  .home-event__list {
    align-items: center;
    justify-self: center;
    gap: 0.5em;
  }

  .home-event__header {
    text-align: center;
  }
}
