.event_card__container {
  width: 100%;
  min-width: 450px;
}

.event_card_wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.event_card__body {
  display: flex;
  align-items: center;
  gap: 0.75em;
}

.event_card__actions {
  display: flex;
  align-items: center;
  gap: 0.35em;
}

.event_card__title {
  font-family: var(--font-montserrat);
  font-size: 1.2em;
  text-transform: capitalize;
}

.event_card__description {
  display: flex;
  align-items: center;
  gap: 0.5em;
  color: var(--zinc-500);
}

.event_card__description p {
  font-family: var(--font-montserrat);
}

.event_card__description span {
  font-family: var(--font-montserrat);
  font-size: 0.8rem;
  letter-spacing: 0.075em;
}