.form_group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.15em;
  flex: 1;
}

.form_group>label {
  font-family: var(--font-montserrat);
  font-weight: 500;
  font-size: 1.05em;
  color: var(--zinc-300);
}

.form_group>span {
  font-family: var(--font-montserrat);
  font-weight: 500;
  font-size: 1.05em;
  color: var(--red-500);
}